@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Eau Clair's Salon</h1>
    <img class="mainPhoto" src='~/img/EauClairHairSalon.jpg' />
</div>

<h3>@Html.ActionLink("Show all stylists", "Index", "Stylists")</h3>
